.feedback {
  padding: 37px 0 76px;
  min-height: 783px;
  background-image: url('images/feedback__bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  color: $colorGrayBrown;

  &__tabs {
    margin-bottom: 60px;
    border-bottom: 1px solid $colorOrangeDawn;
    min-height: 85px;
  }

  &__btn {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    @include mediumFSz;
    text-transform: lowercase;
    color: $colorGrayBrown;
    @include transitionColor;

    &.is-active::after {
      content: '';
      position: absolute;
      bottom: -45px;
      left: 0;
      border-radius: 3px;
      width: 100%;
      height: 7px;
      background-color: $colorOrangeDawn;
    }

    &--personal {
      margin-right: 120px;
    }

    &:focus,
    &:hover {
      color: $colorOrangeDawn;
    }

    &:active {
      color: $colorWhite;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    font-weight: 700;
    @include mediumFSz;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 34px;
    max-width: 1340px;
    @include smallFSz;
    text-transform: lowercase;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    position: relative;
    padding-left: 56px;
    @include smallFSz;
    text-transform: lowercase;

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      background-color: $colorOrangeDawn;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__good-luck {
    padding-left: 10px;
    font-weight: 700;
    @include smallFSz;
  }
}

.form-feedback {

  &__subtitle {
    margin-bottom: 46px;
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 39% 2fr 1fr;
    column-gap: 40px;
    margin-bottom: 55px;
    padding-left: 3px;
    height: 320px;
  }

  &__item {
    position: relative;
    width: 100%;

    &--upload {
      display: flex;
    }

    &--select {
      padding-top: 15px;
    }
  }

  &__upload {

    &-img {
    margin-right: 30px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: $colorOrangeDawn;
  }

  &-box {
    position: relative;
    z-index: 2;
  }

  &-input {
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;

    &:focus ~ .form-feedback__upload-label,
    &:hover ~ .form-feedback__upload-label {
      color: $colorGrayBrown;
      border-color: $colorGrayBrown;
    }

    &:active ~ .form-feedback__upload-label {
      color: $colorCrayola;
      border-color: $colorCrayola;
    }
  }

    &-text {
      margin-bottom: 20px;
      @include formLabel;
    }

    &-label {
      display: block;
      order: 3;
      border: 1px solid $colorOrangeDawn;
      border-radius: 3px;
      padding: 12px 21px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: lowercase;
      color: $colorOrangeDawn;
      cursor: pointer;
    }
  }

  &__select {
    position: relative;
    z-index: 1;
    border: none;
    border-radius: 3px;
    @include smallFSz;
    color: #6A748C;
    background-color: $colorWhite;
  }

  &__selected {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 40px 5px 22px;
    width: 100%;
    height: 100%;
    min-height: 50px;
    // font-weight: 700;
    cursor: pointer;
  }

  &__selected::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 24px;
    width: 15px;
    height: 8px;
    background-image: url('./images/vector.svg');
    transform: translateY(-50%);
    transition: transform .1s ease-in-out;
  }

  &__select-dropdown {
    position: absolute;
    top: 100%;
    z-index: 2;
    display: none;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: $colorWhite;
  }

  &__option {
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 8px 40px 5px 22px;
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
  }

  &__option:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  &__selected:hover,
  &__option:hover {
    background-color: #ececec;
  }

  &__selected:active,
  &__option:active {
    background-color: #e5e5e5;
  }

  .is-active &__select-dropdown {
    display: block;
  }

  .is-active &__selected::after {
    transform: translateY(-100%) rotate(-180deg);
  }

  &__btn {
    padding: 18px 46px;
  }
}
