.hero {
  position: relative;
  min-height: 800px;
  padding-top: 292px;
  overflow: hidden;

  &__container {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-left: 10%;
  }

  &__title {
    margin: 0 0 32px;
    font-weight: 400;
    @include mediumFSz;
    text-transform: uppercase;
    color: $colorWhite;

    &--bold {
      display: block;
      margin-top: 10px;
      font-weight: 800;
      @include bigFSz;
    }
  }

  &__btn {
    padding: 18px 56px;
    @include mediumFSz;
    text-transform: lowercase;
  }
}

.swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  &-slide {
    background-repeat: no-repeat;
    background-size: cover;

    &--1 {
      background-image: url('images/bg--1.webp');
    }

    &--2 {
      background-image: url('images/bg--2.webp');
    }

    &--3 {
      background-image: url('images/bg--3.webp');
    }
  }

  &-pagination {
    bottom: 48px !important;
    transform: translateX(-10px);

    &-bullet {
      margin: 0 20px !important;
      width: 16px;
      height: 16px;
      background-color: $colorWhite;

      &-active {
        background-color: $colorPinkYellow;
      }
    }
  }
}
