ul.social
  li.social__item.f-sz-0
    a.social__link.f-sz-0(href="https://www.vk.com/" target="_blank")
      include ../../images/logo--vk.svg
  li.social__item.f-sz-0
    a.social__link.f-sz-0(href="https://www.facebook.com/" target="_blank")
      include ../../images/logo--fb.svg
  li.social__item.f-sz-0
    a.social__link.f-sz-0(href="https://www.instagram.com/" target="_blank")
      include ../../images/logo--ig.svg
  li.social__item.f-sz-0
    a.social__link.f-sz-0(href="https://ok.ru/" target="_blank")
      include ../../images/logo--ok.svg

