section.section.about#about
  .container.about__container
    .about__content
      h2.section-heading.about__heading О нас
      +lorem()(class="about__descr")
      +btn('подробнее')(class="btn btn--fill about__btn")
    .about__images
      img.about__img.about__img--1(src="images/about__img--1.webp" alt="фото 1")
      img.about__img.about__img--2(src="images/about__img--2.webp" alt="фото 2")
