section.section.hero#hero
  .swiper
    .swiper-wrapper
      .swiper-slide.swiper-slide--1
      .swiper-slide.swiper-slide--2
      .swiper-slide.swiper-slide--3
    .swiper-pagination
  .container.hero__container
    h1.hero__title Начни с нами
      span.hero__title--bold Свое приключение
    +btn('перейти')(class="btn btn--fill hero__btn")

