@mixin transitionColor {
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

@mixin navLinkUI {
  &:focus,
  &:hover {
    color: $colorOrangeDawn;
  }

  &:focus::after,
  &:hover::after {
    transform: translateX(0);
  }

  &:active::after {
    transform: translateX(101%);
  }
}

@mixin formLabel {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

@mixin smallFSz {
  font-family: 'Open Sans', sans-serif;
  font-size: $fszSmall;
  line-height: 135%;

  @media (max-width: 800px) {
    font-size: 16px;
  }
}

@mixin mediumFSz {
  font-size: $fszMedium;
  line-height: 122%;

  @media(max-width: 1200px) {
    font-size: 30px;
  }

  @media (max-width: 800px) {
    font-size: 24px;
  }

  @media (max-width: 576px) {
    font-size: 20px;
  }
}

@mixin bigFSz {
  font-size: $fszBig;
  line-height: 122%;

  @media(max-width: 1200px) {
    font-size: 60px;
  }

  @media (max-width: 800px) {
    font-size: 36px;
  }

  @media (max-width: 576px) {
    font-size: 28px;
  }
}
