$colorWhite: #fff;
$colorBlack: #000;
$colorGrayBrown: #423A39;
$colorOrangeDawn: #FF5B5B;
$colorPinkYellow: #ECA078;
$colorYellowPale: #FFE391;
$colorCrayola: #BC5252;
$fszSmall: 20px;
$fszMedium: 36px;
$fszBig: 72px;
