.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &__link {
    display: inline-block;

    &:focus path,
    &:hover path {
      fill: $colorOrangeDawn;
    }

    &:focus circle,
    &:hover circle {
      stroke: $colorOrangeDawn
    }

    &:active path {
      fill: $colorWhite;
    }

    &:active circle {
      stroke: $colorWhite
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
